<p id="notice"><%= notice %></p>



<p>
  <strong>Medication:</strong>
  <%= @remind.medication %>
</p>

<p>
  <strong>Dosage:</strong>
  <%= @remind.dosage %>
</p>

<p>
  <strong>Med:</strong>
  <%= @remind.med_id %>
</p>

<p>
  <strong>Time:</strong>
  <%= @remind.time.strftime("%I:%M %p") %>
</p>

<p>
  <strong>Frequence:</strong>
  <%= @remind.frequence %>
</p>

<%= link_to 'Edit', edit_remind_path(@remind) %> |
<%= link_to 'Back', reminds_path %>
